sphinx_beginner/_static/1280px-Unix_history-simple.svg.png
sphinx_beginner/_static/File-permissions-in-Linux-2.png
sphinx_beginner/_static/Unix_history-simple.svg
sphinx_beginner/_build/
sphinx_intermediate/_build/doctrees/
sphinx_intermediate/_build/html/
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.aux
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.idx
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.ilg
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.ind
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.log
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.out
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.tex
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.tex.bak
sphinx_intermediate/_build/latex/IntermediateLinuxCourse.toc
sphinx_intermediate/_build/latex/Makefile
sphinx_intermediate/_build/latex/bio-it_logo.png
sphinx_intermediate/_build/latex/fncychap.sty
sphinx_intermediate/_build/latex/python.ist
sphinx_intermediate/_build/latex/sphinx.sty
sphinx_intermediate/_build/latex/sphinxhowto.cls
sphinx_intermediate/_build/latex/sphinxmanual.cls
sphinx_intermediate/_build/latex/tabulary.sty
sphinx_intermediate/_build/latex/targzip.png
sphinx_intermediate/_build/singlehtml/
sphinx_intermediate/_build/linkcheck/
