linux_beginner/_static/1280px-Unix_history-simple.svg.png
linux_beginner/_static/File-permissions-in-Linux-2.png
linux_beginner/_static/Unix_history-simple.svg
linux_beginner/_build/doctrees/
linux_beginner/_build/html/
linux_beginner/_build/latex/
linux_beginner/_build/singlehtml/
linux_intermediate/_build/doctrees/
linux_intermediate/_build/html/
linux_intermediate/_build/latex/
linux_intermediate/_build/singlehtml/
linux_intermediate/_build/linkcheck/
linux_intermediate/attendees/*.csv
linux_intermediate/attendees/*.pdf
linux_combined/_build/doctrees/
linux_combined/_build/html/
linux_combined/_build/latex/
linux_beginner/exercises_all
linux_beginner/clmystery-master
git_beginner/_build/doctrees/
git_beginner/_build/html/
git_beginner/_build/latex/
git_beginner/_build/singlehtml/
git_beginner/_build/linkcheck/
_old_/
